include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ts_cloud_gst *.css
recursive-include ts_cloud_gst *.csv
recursive-include ts_cloud_gst *.html
recursive-include ts_cloud_gst *.ico
recursive-include ts_cloud_gst *.js
recursive-include ts_cloud_gst *.json
recursive-include ts_cloud_gst *.md
recursive-include ts_cloud_gst *.png
recursive-include ts_cloud_gst *.py
recursive-include ts_cloud_gst *.svg
recursive-include ts_cloud_gst *.txt
recursive-exclude ts_cloud_gst *.pyc